.wrapper {
  @include form-field;
}

.fullWidth {
  width: 100%;
}

.label {
  @include form-label;
}

.input {
  @include form-control;
  padding: $spacing-2 $spacing-3;
  height: 40px;
}

.inputError {
  @include form-control-error;
}

.error {
  @include form-error;
}
